a.card[class*="cardContainer"] {
  box-shadow: unset; /* we have a flat style */
  border-color: var(--ifm-color-emphasis-300); /* match the 'next'/'previous' controls */
  text-decoration: none;
    padding: 1rem !important;
}

a.card[class*="cardContainer"]:hover {
  border-color: var(--ifm-color-primary); /* match the 'next'/'previous' controls */
}

p[class*="cardDescription"] {
  font-size: 0.9rem;
}