.header-github-link {
  position: relative;
  display: flex;
  height: 30px;
  width: calc(var(--ifm-navbar-item-padding-horizontal) + 30px);
}

.header-github-link img {
  position: absolute;
  left: 0;
  transition: opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  opacity: 0;
}

html[data-theme="light"] .header-github-link img.light.none {
  opacity: 1;
}

html[data-theme="dark"] .header-github-link img.dark.none {
  opacity: 1;
}

html[data-theme] .header-github-link img.hover {
  opacity: 0;
}

html[data-theme] .header-github-link:hover img.none {
  opacity: 0;
}

html[data-theme="light"] .header-github-link:hover img.light.hover {
  opacity: 1;
}

html[data-theme="dark"] .header-github-link:hover img.dark.hover {
  opacity: 1;
}
