:root {
  /* brand colors */
  /* #ffffff */
  --ll-background-color-hue: 0;
  --ll-background-color-saturation: 0%;
  --ll-background-color-lightness: 100%;

  --ll-background-color-transparent: #ffffff00;
  --ll-background-color-opaque: #ffffffff;

  /* #21327d; Liquid Labs Blue */
  --ll-color-primary-hue: 0;
  --ll-color-primary-saturation: 0%;
  --ll-color-primary-lightness: 0%;

  --ifm-color-content-secondary: #000000;

  /* brand fonts */
  --ifm-font-color-base: var(--ifm-color-primary);

  --ifm-font-family-base: Avenir Next, Avenir, Muli, Nunito, Ariel;
  --ifm-heading-font-family: URW Gothic L;
  --ifm-heading-font-weight: bold;

  --ifm-font-color-base: var(--ifm-color-primary);

  /* button settings */
  --ll-button-font-family: var(--ifm-heading-font-family);
  --ifm-button-font-weight: 800;

  --ll-button-border-width: 3px;
  --ifm-button-border-radius: 0;
  
  --ll-button-color-hover: var(--ifm-color-primary);
  --ll-button-background-color-hover: var(--ifm-color-primary-contrast-background);
  --ll-button-border-color-hover: var(--ifm-color-primary);

  --ll-button-color-active: var(--ifm-color-primary-contrast-background);
  --ll-button-backgronud-color-active: var(--ifm-color-primary);
  --ll-button-border-color-active: var(--ifm-color-primary);

  /* content link behavior */
  --ll-content-link-color: var(--ifm-color-primary);
  --ll-content-link-decoration: underline;
  --ll-content-link-color-hover: var(--ifm-color-content-secondary);
  --ll-content-link-decoration-hover: underline;

  --ll-content-reverse-colors-link-color: var(--ifm-color-primary-contrast-background);
  --ll-content-reverse-colors-link-decoration: underline;
  --ll-content-reverse-colors-link-color-hover: var(--ifm-color-content-secondary);
  --ll-content-reverse-colors-link-decoration-hover: underline;

  /* navbar stuff */
  --ll-navbar-logo-height: 1.75rem;
  --ifm-navbar-padding-vertical: 4px;
  --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
  /* we don't use this to set the navbar height, but it is used by the 'anchorWithStickyNavbar' module to 
    'scroll-margin-top
    the 1px is for the bottom border */
  --ifm-navbar-height: calc(var(--ll-navbar-logo-height) + 2 * var(--ifm-navbar-padding-vertical) + 1px);

  /* navigation elements */
  --ll-nav-color: var(--ifm-color-primary);
  --ll-nav-text-decoration: none;
  --ll-nav-color-hover: var(--ifm-color-content-secondary);
  --ll-nav-text-decoration-hover: underline;
  --ll-nav-text-font-weight-hover: bold;
  --ll-nav-color-active: var(--ifm-color-content-secondary);
  --ll-nav-text-decoration-active: none;

  /* kill background highlighting of menu items */
  --ifm-menu-color-background-hover: inherit; 
  --ifm-menu-color-background-active: inherit;
  --ifm-dropdown-hover-background-color: inherit;
  --ifm-breadcrumb-item-background-hover: inherit;
  --ifm-breadcrumb-item-background-active: inherit;

  --ll-modal-animation-duration: 250ms;
}

html[data-theme='dark'] {
  /* #1b1b1d */
  --ll-background-color-hue: 0;
  --ll-background-color-saturation: 0%;
  --ll-background-color-lightness: 0%;

  --ll-background-color-transparent: #00000000;
  --ll-background-color-opaque: #000000ff;

  --ll-color-primary-hue: 0;
  --ll-color-primary-saturation: 100%;
  --ll-color-primary-lightness: 100%;

  /* old school terminal amber */
  --ifm-color-content-secondary: #ffffff;
  --ifm-navbar-background-color: var(--ifm-background-color);
}