/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.logoAndNavContainer {
  width: calc((100vh - 4rem) * .609 + 10rem);
}

.logoAndNavContainer > .logo {
  height: calc(100vh - 4rem);
  float: left;
}

.logoAndNavContainer > .navButton {
  float: right;
  width: 9.9rem;
  text-align: right;
  padding: 10px;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.homePage header > .container) {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
}

:global(.homePage) header {
  height: 100vh;
  margin-top: calc(-1 * var(--ifm-navbar-height));
  padding: 2rem 0 calc(2rem - var(--ifm-navbar-height));
}

/* the spacer is used to center the zanecorp logo */
:global(.homePage header > .container) .spacer {
  visibility: hidden;
  height: 100%;
  width: calc(9.9rem + 3px);
}

@media screen and (max-width: 996px) { /* but on mobile, we don't want that since it takes up valuable space */
  :global(.homePage header > .container) .spacer {
    display: none;
  }
}

:global(.homePage header > .container) > div.logoAndNavContainer {
  z-index: 999; /* pop it over the navbar so we don't clip the top */
}

:global(nav:has(+ .homePage)) {
  border-bottom: none;
}

:global(nav:has(+ .homePage) .navbar__items:not(.navbar__items--right)) {
  visibility: hidden;
}