@font-face {
  font-family: "URW Gothic L";
  src:
    local("URW Gothic L"),
    url("/fonts/urw-gothic-l-2.woff2") format("woff2"),
    url("/fonts/urw-gothic-l-2.woff") format("woff"),
    url("/fonts/urw-gothic-l-2.ttf") format("truetype");
}

@font-face {
  font-family: u2800;
  src: url("/fonts/u2800.woff2") format("woff2"),
    url("/fonts/u2800.woff") format("woff");
  font-weight: 400;
  font-style: normal
}
